<div class="todo-list-table-actions">
  <button class="todo-list-btn todo-list-btn--add" onclick={{action (mut isAddRow) (if isAddRow false true)}}>
    {{if isAddRow "Cancel" "Add new row"}}
  </button>
  <button class="todo-list-btn todo-list-btn--delete">Delete selected rows</button>
</div>
<div class="todo-list-headers">
  {{#each headersData as |key|}}
    <div class="todo-list-headers__item">
      {{#if (is-equal key "select")}}
        {{form-checkbox}}
      {{else}}
        <span>
          {{key}}
        </span>
      {{/if}}
    </div>
  {{/each}}
</div>
<div class="todo-list-body">
  {{#each mainData as |row|}}
    <div class="todo-list-body__row">
      {{#each headersData as |key|}}
        <div class="todo-list-body__row__item todo-list-flex todo-list-align-items__center">
          {{#if (is-equal key "select")}}
            {{form-checkbox}}
          {{else}}
            <span>
              {{get-obj-value row key}}
            </span>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/each}}
  {{#if isAddRow}}
  <div class="todo-list-body__row todo-list-body__add-row">
    {{!-- <div class="todo-list-body__row__item todo-list-flex todo-list-align-items__center">
      {{form-checkbox}}
    </div> --}}
    <div class="todo-list-body__row__item todo-list-flex todo-list-align-items__center">
      {{input type="text" class="todo-list-add-item-input todo-list-w-100" value=newRowData.name placeholder="Name"}}
    </div>
    <div class="todo-list-body__row__item todo-list-flex todo-list-align-items__center">
      {{input type="text" class="todo-list-add-item-input todo-list-w-100" value=newRowData.description placeholder="Description"}}
    </div>
    <div class="todo-list-body__row__item todo-list-flex todo-list-align-items__center">
      {{input type="text" class="todo-list-add-item-input todo-list-w-100" value=newRowData.priority placeholder="Priority"}}
    </div>
    <div class="todo-list-body__row__item todo-list-flex todo-list-align-items__center">
      {{input type="text" class="todo-list-add-item-input todo-list-w-100" value=newRowData.status placeholder="Status"}}
    </div>
  </div>
  <div class="todo-list-flex todo-list-align-items__center todo-list-justify-content__center todo-list-p-10">
      <button class="todo-list-btn--small todo-list-btn--save" onclick={{action addRow}}>Save</button>
  </div>
  {{/if}}
</div>