<h1 class='fs-3 fw-light'>Send reset password link</h1>
<form id='ResetPwdForm' {{on 'submit' this.sendResetEmail}}>

  <Form::Field::Email
    @value={{this.formData.email}}
    @clearCustomValidation={{this.clearCustomValidation}}
  />

  {{#if this.formSubmitMsg}}
    <div class='alert alert-danger d-flex align-items-center' role='alert'>
      <svg
        class='bi flex-shrink-0 me-2'
        width='24'
        height='24'
        role='img'
        aria-label='Danger:'
      ><use xlink:href='#exclamation-triangle-fill'></use></svg>
      <div>
        {{this.formSubmitMsg}}
      </div>
      <button
        {{on 'click' this.closeFormSubmitMsg}}
        type='button'
        class='btn-close'
        data-bs-dismiss='alert'
        aria-label='Close'
      ></button>
    </div>
  {{/if}}

  {{#if this.resetEmailSent}}
    <div class='alert alert-success d-flex align-items-center' role='alert'>
      <svg
        class='bi flex-shrink-0 me-2'
        width='24'
        height='24'
        role='img'
        aria-label='Success:'
      ><use xlink:href='#check-circle-fill'></use></svg>
      <div>
        {{this.resetEmailSent}}
      </div>
    </div>
  {{/if}}

  <div class='sign-in-form-submit-section'>
    <button type='submit' class='sign-in-btn'>
      {{#if this.showAPILoader}}
        <div class='spinner-border spinner-border-sm' role='status'>
          <span class='visually-hidden'>Loading...</span>
        </div>
      {{/if}}
      Send reset password link
    </button>
    <div class='sign-in-other-options'>
      <button
        type='button'
        class='todo-list-btn--link sign-in-btn-link'
        {{on 'click' @toggleForgotPwdForm}}
      >
        <img
          class='sign-in-btn-arrow'
          src='/images/left-arrow.png'
          alt='left-arrow'
        />
        Back to login
      </button>
    </div>
  </div>
</form>